.main-nav {
  font-size: 50px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30vh;
  gap: 35px;
  color: #734eee;
  max-width: 200px;
}

.main-nav .nav-link {
  transition: color 700ms ease-in-out;
}

.main-nav::before {
  content: "";
  display: block;
  background-color: #222;
  width: 30vw;
  height: 100vh;

  border-radius: 0 10% 10% 0;

  position: absolute;
  top: 0;
  left: -40vw;
  z-index: -1;
  transition: left 700ms ease-in-out
}

.main-nav:hover::before {
    left: 0;
}

.main-nav .nav-link:hover {
  color: #f229f9;
}

.nav {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  gap: 25px;
  margin: 25px;

  font-size: 18px;
}

.nav a {
  padding: 5px;

  transition: color 450ms ease-in-out,
              border 450ms ease-in-out;
}

.nav a:hover {
  color: #f229f9;

  border-bottom: 2px solid #f229f9;
  border-radius: 2em; 
  box-shadow:  0 2px 0 #734eee;
}